C2000/SimuLink Car Models/Generated Code/CPU2/cpu2_ert_rtw/CCS_Project/.settings/org.eclipse.core.resources.prefs
C2000/SimuLink Car Models/Generated Code/CPU1/cpu1_ert_rtw/CCS_Project/.settings/org.eclipse.core.resources.prefs
